body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div[id='art market'] {
  margin-bottom: 30px;
  background-color: #818181;
  padding-top: 15px;
}

div[id='queue'] {
  margin-bottom: 30px;
  background-color: #818181;
  padding-top: 15px;
}

div[id='lifestyle roster'] {
  margin-bottom: 30px;
  background-color: #818181;
  padding-top: 15px;
}

img {
  height: 400px;
  width: 500px;
}

div[id='art market'] p {
  color: white;
}

div[id='art market'] h2 {
  color: white;
}

div[id='queue'] p {
  color: white;
}

div[id='queue'] h2 {
  color: white;
}

div[id='lifestyle roster'] p {
  color: white;
}

div[id='lifestyle roster'] h2 {
  color: white;
}
